<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nas</title>
</head>
<body>
    <h1>O nas</h1>
    <p>Nasza szkoła powstała z pasji do motoryzacji i edukacji. Oferujemy kursy nauki jazdy na różne kategorie pojazdów, w tym samochody osobowe, ciężarowe, a także motocykle. Naszym celem jest przygotowanie Cię do bezpiecznej jazdy i pomóc Ci uzyskać upragnione prawo jazdy.</p>

    <h2>Wymagania wiekowe</h2>
    <li>B  -> 18 lat</li>
    <li>A2 -> 18 lat</li>
    <li>C  -> 21 lat</li>
    <li>D  -> 24 lat</li>

    <h2>Nasza misja</h2>
    <p>Chcemy, aby każdy kursant czuł się pewnie za kierownicą i opanował umiejętności, które pozwolą na bezpieczne poruszanie się po drogach. Stawiamy na jakość, bezpieczeństwo i indywidualne podejście do każdego kursanta.</p>

    <h2>Nasze wartości</h2>
    <ul>
        <li>Profesjonalizm</li>
        <li>Bezpieczeństwo</li>
        <li>Kompetentni instruktorzy</li>
        <li>Indywidualne podejście</li>
    </ul>

    <h2>Skontaktuj się z nami</h2>
    <p>Jeśli masz pytania, skontaktuj się z nami!</p>
    <p>Email: <a href="mailto:kontakt@szkola-jazdy.pl">kontakt@szkola-jazdy.pl</a></p>
<a href="{% url 'home' %}">Powrót na stronę główną</a>
</body>
</html>
